              <div class="social-links">
                  {% if site.email %}<a href="mailto:{{ site.email }}" class="author-social" target="_blank"><i class="fa fa-2x fa-envelope-square"></i></a>{% endif %}
                  {% if site.twitter %}<a href="http://twitter.com/{{ site.twitter }}" class="author-social" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>{% endif %}
                  {% if site.facebook %}<a href="http://facebook.com/{{ site.facebook }}" class="author-social" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>{% endif %}
              </div>
